<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="./css/home.css">



<body>
  <main
    class="hero-section h-[85vh] w-full flex flex-col lg:justify-center justify-center pl-16 max-md:items-center lg:pl-24 max-md:pt-11 space-y-4 relative overflow-hidden text-center md:text-left">
    <div
      class="heroSectionPhotoWrapper md:absolute md:right-0 md:translate-x-36 md:translate-y-28 max-md:static max-md:mx-auto max-md:my-1 max-md:size-52">
      <img src="./img/assets/female student with notebooks.png" alt="heroSection_logo"
        class="heroSectionPhoto lg:h-screen mx-auto max-md:static max-md:mx-auto max-md:my-1 max-md:size-52 ">
    </div>
    <h1 class="heroSectionMainText text-6xl font-kado max-md:text-4xl font-medium">Diet Student Hub</h1>
    <h3 class="heroSectionText text-xl">Get instant access to college notices, exciting events, and more. Engage.</h3>
    <button
      class="bg-[#5995fd] lg:w-[10%] h-[7vh] w-[20%] max-md:w-[30%] text-white rounded-full hover:bg-[#4575c8] duration-150 hover:translate-y-1">Join Now
    </button>
  </main>

  <!-- AboutUsSection -->
  <section class=" aboutUs bg-gray-100 py-20 relative overflow-hidden" id="testimonials ">
    <img src="./img/assets/Ellipse 1.png"
      class="size-96 absolute top-0 elipe left-0 -translate-x-52 -translate-y-32 max-md:size-80">
    <div class="container mx-auto flex flex-col space-y-24">
      <div class="mb-5 flex justify-center flex-col items-center space-y-6">
        <img src="./img/assets/joyful-man-with-phone-waving-his-hand-rjZ.png" class="size-28 aboutUsImage">
        <div class="text-center space-y-4 flex flex-col items-center">
          <h3 class="text-4xl font-bold text-gray-800 uppercase aboutUsMainText">About Us</h3>
          <h4 class="text-2xl font-bold  w-[80%] aboutUsText">Welcome to Dumkal Institute of Engineering
            and Technology <span class="text-[#5995fd]">Student Hub</span>
          </h4>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 m-16 ">
        <div class="item flex flex-col justify-between bg-white shadow-md rounded-lg p-6 aboutUsDescription">
          <p class="text-gray-600 text-lg mb-4 aboutText">Experience excellence at DIET! Our webpage is your go-to for
            all college
            updates and crucial info. Whether you're a
            student or applicant, discover programs, activities, and more. We believe informed students are empowered
            students, so
            we're here to equip you with the knowledge and resources for success. Explore DIET and unlock your potential
            today!</p>
        </div>
        <div class="item flex flex-col justify-between bg-white shadow-md rounded-lg p-6 aboutUsDescription">
          <p class="text-gray-600 text-lg mb-4 aboutText">Delve into our diverse range of programs and activities
            designed to
            enrich your educational experience and foster
            personal growth. From innovative curriculum offerings to engaging extracurricular opportunities, there's
            something for
            everyone at DIET. Our commitment to excellence extends beyond the classroom, empowering students to explore
            their
            passions and unlock their full potential.</p>
        </div>
        <div class="item flex flex-col justify-between bg-white shadow-md rounded-lg p-6 aboutUsDescription z-20">
          <p class="text-gray-600 text-lg mb-4 aboutText">We believe that informed students are empowered students, and
            our
            dedicated team is here to provide you with the
            knowledge and support you need to thrive. With comprehensive guidance and access to a wide array of
            resources, you'll be
            well-equipped to navigate your academic journey with confidence and success.</p>
        </div>
      </div>
      <img src="./img/assets/Ellipse 2.png"
        class="size-96 absolute bottom-0 right-0 translate-y-48  translate-x-48 max-md:hidden z-0">
  </section>
  <!-- DietianSection  -->
  <section class="parallax-section bg-gray-100 py-20 relative overflow-hidden space-y-20" id="testimonials">
    <div class="container mx-auto flex flex-col space-y-24">
      <div class="mb-5 flex justify-center flex-col items-center space-y-6">
        <img src="./img/assets/man-showing-a-heart-above-his-head-with-his-arms-wRh.png" class="size-28 aboutUsImage">
        <div class="text-center space-y-4 flex flex-col items-center">
          <h3 class="text-4xl font-bold text-gray-800 uppercase dietianNainText ">Explore <span
              class="text-[#5995fd] ">Dietian</span></h3>
        </div>
      </div>
      <div class="flex items-center flex-col  w-full">
        <h4 class="text-xl w-[70%] text-center tracking-wider dietianText font-thin">"DIETIAN" provides a glimpse into
          the
          vibrant experiences
          of our diverse
          student
          community.
          From academic
          endeavors to
          cultural events, each image captures the spirit of collaboration and growth at DIET. Join us in discovering
          the
          countless opportunities for personal development and lifelong memories that await you.</h4>
      </div>
    </div>
    <div id="Carousel-slider">
      <section>
        <div class="Carousel-slider">
          <!-- Background Images div -->
          <div class="slider-item superHero1" data-href="./img/dietPhotos/StudentGroup3-min.jpg"></div>
          <div class="slider-item superHero2" data-href="#"></div>
          <div class="slider-item superHero3" data-href="#"></div>
          <div class="slider-item superHero4" data-href="#"></div>
          <div class="slider-item superHero5" data-href="#"></div>
          <div class="slider-item superHero6" data-href="#"></div>

          <!-- Background Images div End -->
        </div>
      </section>
    </div>
  </section>

  <!-- RequireMents Scripts  -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/micro-slider@1.0.9/dist/micro-slider.min.js"></script>


  <!--home script-->
  <script src="./js/home.js"></script>
</body>