<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Suman Malik || Iqbal Hossain || Akash Halsana">

    <meta property="og:title" content="DIET Student Hub">
    <meta property="og:description" content="Dumkal Institute of Engineering & Technology STUDENTS">
    <meta property="og:image" content="https://diethub.vercel.app/img/clg_logo_og.png">
    <meta property="og:url" content="https://diethub.vercel.app">

    <link rel="icon" type="image/x-icon" href="/img/clg_logo.ico">


    <meta name="keywords"
        content="college assignment help, paid writing service, college assignments, best for college students, trending writing service">
    <meta name="description"
        content="Get top-quality college assignment help from our paid writing service. We offer the best solutions for college students, and our services are trending.">
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="
https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css
" rel="stylesheet">


    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/style.css">


    <title>DIET Student Hub</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Diet Student Hub</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link active-link">
                            <box-icon type='solid' name='home'></box-icon>
                            <!-- <i class='bx bx-home-alt nav__icon'></i> -->
                            <span class="nav__name">Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/notice" class="nav__link">
                            <box-icon name='calendar'></box-icon>
                            <!-- <i class='bx bx-user nav__icon'></i> -->
                            <span class="nav__name">Notice</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/program" class="nav__link">
                            <box-icon type='solid' name='book-content'></box-icon>
                            <!-- <i class='bx bx-book-alt nav__icon'></i> -->
                            <span class="nav__name">Programms</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/gallery" class="nav__link">
                            <box-icon type='solid' name='image'></box-icon>
                            <!-- <i class='bx bx-briefcase-alt nav__icon'></i> -->
                            <span class="nav__name">Gallery</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/profile" class="nav__link">
                            <box-icon type='solid' name='user'></box-icon>
                            <!-- <i class='bx bx-message-square-detail nav__icon'></i> -->
                            <span class="nav__name">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

            <img src="/img/perfil.png" alt="" class="nav__img">
        </nav>
    </header>

    <main>
        <!--=============== HOME ===============-->

        <section class="container section section__height" id="home">
            <!-- <h2 class="section__title">Home</h2> -->

            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/StudentGroup3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/StudentGroup3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/Hod.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p>
                <u>
                    <h1>Welcome to Dumkal Institute of Engineering and Technology Student Hub</h1>
                </u>

                At DIET, we are committed to providing our students with a world-class educational experience and
                keeping them informed about all the latest developments, programs, and important notices. This webpage
                serves as your central resource for staying connected with the college community and accessing crucial
                information. Whether you're a current student or prospective applicant, you'll find everything you need
                to know about our college, academic programs, extracurricular activities, and more right here. We
                believe that informed students are empowered students, and this platform is designed to empower you with
                the knowledge and resources you need to excel in your academic journey. Explore the various sections to
                discover the exciting opportunities that await you at DIET(Dumkal Institute of Engineering and
                Technology).
            </p>
        </section>

        <!--=============== ABOUT ===============-->
        <!-- <section class="container section section__height" id="about">
            <h2 class="section__title">About</h2>
        </section> -->

        <!--=============== SKILLS ===============-->
        <!-- <section class="container section section__height" id="skills">
            <h2 class="section__title">Skills</h2>
        </section> -->

        <!--=============== PORTFOLIO ===============-->
        <!-- <section class="container section section__height" id="portfolio">
            <h2 class="section__title">Portfolio</h2>
        </section> -->

        <!--=============== CONTACTME ===============-->
        <!-- <section class="container section section__height" id="contactme">
            <h2 class="section__title">Contactme</h2>
        </section> -->
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!--=============== MAIN JS ===============-->


    <script src="assets/js/main.js"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js
    "></script>
</body>

</html>