


<body>
   

    <main>
        <section class="container section section__height" id="notice">
            <h2 class="section__title">Notice</h2>
            
            <iframe src="http://www.besdiet.org/notification.php" frameborder="0" height="100%" width="100%"></iframe>

        </section>
        
    </main>
   
    
</body>