<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="
https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css
" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/style.css">

    <title>DIET Student Hub</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Diet Student Hub</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">
                            <box-icon type='solid' name='home'></box-icon>
                            <!-- <i class='bx bx-home-alt nav__icon'></i> -->
                            <span class="nav__name" style="color: black;">Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/notice" class="nav__link active-link">
                            <box-icon name='calendar'></box-icon>
                            <!-- <i class='bx bx-user nav__icon'></i> -->
                            <span class="nav__name" style="color:#26a699 ">Notice</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/program" class="nav__link">
                            <box-icon type='solid' name='book-content'></box-icon>
                            <!-- <i class='bx bx-book-alt nav__icon'></i> -->
                            <span class="nav__name">Programms</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/gallery" class="nav__link">
                            <box-icon type='solid' name='image'></box-icon>
                            <!-- <i class='bx bx-briefcase-alt nav__icon'></i> -->
                            <span class="nav__name">Gallery</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/profile" class="nav__link">
                            <box-icon type='solid' name='user'></box-icon>
                            <!-- <i class='bx bx-message-square-detail nav__icon'></i> -->
                            <span class="nav__name">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

            <img src="/img/perfil.png" alt="" class="nav__img">
        </nav>
    </header>

    <main>
        <section class="container section section__height" id="notice">
            <h2 class="section__title">Notice</h2>
            
            <iframe src="http://www.besdiet.org/notification.php" frameborder="0" height="100%" width="100%"></iframe>

        </section>
        
    </main>



    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
    
</body>

</html>