:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

footer {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -6px 12px -1px rgba(0, 0, 0, 0.1);
}




